@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tazu7m');
  src:  url('fonts/icomoon.eot?tazu7m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tazu7m') format('truetype'),
    url('fonts/icomoon.woff?tazu7m') format('woff'),
    url('fonts/icomoon.svg?tazu7m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e912";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
